.form__icon {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
}

.form__policy-checkbox:checked + .form__icon {
  background-image: url(../images/icons/svg/icon-check.svg);
  background-repeat: no-repeat;
  background-color: var(--accent-color);
  background-position: center;
  background-size: contain;
  border-color: var(--accent-color);
  background-origin: border-box;
}

.form__policy-checkbox:focus-within + .form__icon {
  border-color: var(--accent-color);
}
