.contacts {
  display: flex;
  margin-left: auto;
}

.contacts {
  @media screen and (max-width: 767.98px) {
    display: none;
  }
}

.contacts {
  @media screen and (min-width: 768px) {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.contacts {
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.contacts-e,
.contacts-s {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--main-text-color);
}

.contacts-e:hover,
.contacts-e:focus {
  color: var(--accent-color);
}

.contacts-s:hover,
.contacts-s:focus {
  color: var(--accent-color);
}

.contacts__icon {
  fill: currentColor;
}

.contacts__icon {
  margin-right: 10px;
}

.contacts__icon:hover,
.contacts__icon:focus {
  fill: #2196f3;
}

.contacts__item:nth-child(2) {
  margin-left: 40px;
}

.contacts__item {
  margin-left: 40px;
}

.contacts__item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
}

.contacts__link {
  color: var(--main-text-color);
  text-decoration: none;
}
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}
