.form__field {
  position: relative;
  display: flex;
  text-align: left;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-label .input {
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label + .input:focus {
  fill: var(--accent-color);
}

.svg-cont {
  position: relative;
  margin-top: 4px;
}

.form-input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(117, 117, 117, 0.5);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border var(--standard-animation);
}

.icon-form {
  fill: currentColor;
  position: absolute;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--standard-animation);
}

.form-input:focus + .icon-form {
  fill: var(--accent-color);
}

.form-input {
  outline: none;
}

.form__comment {
  position: relative;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  transition: border var(--standard-animation);
  resize: none;
}

.input,
textarea {
  outline: none;
}

input:focus,
textarea:focus {
  border: 1px solid var(--accent-color);
}

.textarea::placeholder {
  color: var(--input-placeholder);
}

.form-policy {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 20px;
}

.policy-link {
  display: inline-block;
  color: var(--accent-color);
}

.submit-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-width: 200px;
  min-height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--page-title);
  background-color: var(--accent-color);
  padding: 0;
  margin-right: 124px;
  margin-left: 124px;
  border-radius: 4px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
