.menu__link {
  display: block;
  color: var(--title-color);
  font-weight: 500;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
}

.menu__link--current {
  position: relative;
  display: block;
  color: var(--accent-color);
  text-decoration: none;
}

.menu__link--current::after {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  bottom: -33px;
}

.menu__link:hover,
.menu__link:focus {
  color: var(--accent-color);
}

.menu {
  display: inline-flex;
  justify-content: center;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}
