.socials {
  display: inline-block;
  margin-left: 70px;
  margin-right: 85px;
}

.socials-text {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--page-title);
  margin-bottom: 20px;
}

.socials-link {
  display: flex;
  align-items: baseline;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-around {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.socials-around:hover,
.socials-around:focus {
  background-color: var(--accent-color);
}

.socials-icon-svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
