.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients {
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 50px;
}

.clients__title {
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.logo-clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -30px;
  margin-left: -30px;
}

.logo-clients__item {
  @media screen and (max-width: 767.98px) {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 30px * 2) / 2);
  }
}

.logo-clients__item {
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 30px * 3) / 3);
  }
}

.logo-clients__item {
  @media screen and (min-width: 1200px) {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 30px * 6) / 6);
  }
}

.logo-clients__icon {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
}

.logo-clients__icon:hover,
.logo-clients__icon:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.icon__logo {
  fill: currentColor;
}

.icon__logo:hover,
.icon__logo:focus {
  fill: currentColor;
}
