.features {
  padding-top: 94px;
  padding-bottom: 94px;
  @media screen and (max-width: 1199.98px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.features__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.main-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-block {
  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }
  display: flex;
  justify-content: center;
}

.features__block-item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.features__block-item {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
  }
}

.features__block-item {
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.features__block-item {
  width: 100%;
}

.features__block-icons {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__block-icons {
  margin-bottom: 30px;
}
