.hero {
  max-width: 1600px;
  padding: 200px 0;
  margin: 0 auto;
  background-color: var(--bg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img9.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero__button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--page-title);
  background-color: var(--accent-color);
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}

.hero__page-title {
  max-width: 696px;
  font-family: var(--title-font);
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--page-title);
  margin: 0 auto;
  margin-bottom: 30px;
}
