.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container-background {
  background-color: var(--page-title);
  padding: 24px 20px;
  border: 1px solid var(--card-border);
}

.section-features {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.text-features {
  color: var(--main-text-color);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: -30px;
  margin-top: -30px;
}

.card-set__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.card {
  display: flex;
}

.card__link {
  text-decoration: none;
  transition: box-shadow 250ms var(--cubic-bezier);
}

.card__link:hover,
.card__link:focus {
  box-shadow: var(--shadow-card);
}

.card__link:hover .card-thumb__text,
.card__link:focus .card-thumb__text {
  opacity: 0.9;
  transform: translateY(0);
}

.card-thumb {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-thumb__text {
  position: absolute;
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  height: 100%;
  background-color: var(--back-card);
  opacity: 0;
  transform: translateY(100%);
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-bezier);
  pointer-events: none;
}

.card-thumb__text .text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--page-title);
}
