.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--section-background);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: -30px;
  margin-top: -30px;
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__box {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--page-title);
}

.team__position {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 8px;
}

.team__position--color {
  color: var(--main-text-color);
}

.team__name {
  font-family: var(--title-font);
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 8px;
}

.social-icons__item:not(:last-child) {
  margin-right: 10px;
}
